- comments.each do |comment|
  .comment-info
    %strong
      = link_to "#{comment.user.nickname} :", user_path(comment.user.id), class: "comment-user"
    .comment-text
      = comment.text
    .comment-btn
      - if comment.user == current_user
        = link_to '削除', book_comment_path(comment.book_id, comment.id), method: :delete, remote: true